<div class="list-wrap">
    <div cdkDropList [cdkDropListData]="cards" class="list" (cdkDropListDropped)="drop($event)">
        <p class="list-name">{{name}}</p>
        <div class="card" *ngFor="let item of cards; let i = index " cdkDrag>
            <p>{{item.subject}}</p>
            <button (click)="deleteCard(i)">X</button>
        </div>
    </div>
    <div class="cardGenerator">
        <input placeholder="Subject.." type="text" [(ngModel)]="newCardName" />
        <button (click)="createCard()">Add</button>
    </div>
</div>